.container {
  margin: auto;
  color: white;
}
body {
  background: linear-gradient(to left, #8942a8, #ba382f);
  position: relative;
}
.products {
  height: 200vh;
  width: 100vw;
}

.list {
  margin-top: 10px;
  position: relative;
}
.item {
  /* background-color: black; */
  border-radius: 20px;
  overflow: hidden;
  width: 95%;
  height: 100%;
  transition: 0.5s;
  margin-top: 50px;
}
.item:hover {
  scale: 1.05;
  /* height: 100%; */
}
.description {
  background: gray;
  border-radius: 0px 0px 20px 20px;
  overflow: hidden;
  width: 100%;
  /* transform: translateY(75px); */
  transition: 0.5s;
}
.item:hover .description .details {
  transform: translateY(0px);
  display: block;
}

.desc_item {
  transition: 0.5s;
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.product-name {
  align-items: center;
  font-size: 20px;
  margin: 15px 0;
}
.details {
  transition: 0.5s;
}
.item__price button {
  border: 1px solid white;
  border-radius: 7px;
  padding: 5px;
}

.item__price {
  padding-bottom: 10px;
}
#defaultModal {
  background: black;
  width: 50%;
  right: 0;
}
#defaultModal table {
  width: 100%;
}
.content {
  margin: 100px 50px;
  text-align: center;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.13);
}
.purchase {
  margin-left: 350px;
  font-size: 20px;
  padding: 10px 0px;
}
.purchase button {
  border: 1px solid white;
  border-radius: 5px;
  margin-right: 15px;
  padding: 10px;
  margin-top: 10px;
}
